textarea {
  resize: none;
}
.form {
  &__title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.01em;
    margin-bottom: 55px;
    &--blue {
      color: #018FDE;
    }
  }
  &-block {
    width: 68%;
    margin-bottom: 50px;
  }
  &-container {
    background: #fff;
  }

  &__input,
  &__textarea {
    background:#EEF3FC;
    color: #3D3D3D;
    height: 44px;
  }
  &__textarea {
    margin-bottom: 30px;
  }
  &__column,
  &__column-textarea{
    padding-right: 5px;

  }
  &__row {
    margin-bottom: 20px;
  }


  &-floating>label {
    color: #8792A7;
    padding: 0.6rem 0.9rem;
  }

  &-floating>.form-control, .form-floating>.form-select {
    height: 44px;
  }

  &-control {
    border: none;
  }
}

@media screen and(max-width:767px) {
  .form {
    &__column {
      padding-bottom: 20px;
    }
    &__row {
      margin-bottom: 0;
    }
    &-control {
      &:focus {
        border: 1px solid #8792A7;
        box-shadow: none;
      }
    }
    &__title {
      margin-bottom: 29px;
    }
  }
}

@media screen and (max-width:575px) {
  .form {
    &-block {
      width: 80%;
      margin-bottom: 17px;
    }
  }
}



